@font-face {
  font-family: "jf-openhuninn";
  src: url("/font/jf-openhuninn-1.1/jf-openhuninn-11.woff2") format("woff2"),
    url("/font/jf-openhuninn-1.1/jf-openhuninn-11.woff") format("woff"),
    url("/font/jf-openhuninn-1.1/jf-openhuninn-11.tff") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
