@font-face {
    font-family: 'jf-openhuninn-1.1';
    src: url('jf-openhuninn-11.woff2') format('woff2'),
        url('jf-openhuninn-11.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

